In [1]:
# imports
import pandas as pd
from getpass import getpass
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
import psycopg

In [3]:
# create first SQLAlchemy connection & DATABASE:

pw = getpass('Please enter password: ')
connection_uri = f'postgresql://postgres:{pw}@localhost:5432/postgres'
engine = create_engine(connection_uri, isolation_level='AUTOCOMMIT')

with engine.connect() as conn:
    # delete db if exists:
    conn.execute(text("DROP DATABASE IF EXISTS nasa_exoplanets;"))
    # create new db:
    conn.execute(text("CREATE DATABASE nasa_exoplanets;"))
    print("DATABASE: connected!")
# close SQLAlchemy connection:
engine.dispose()

DATABASE: connected!

In [4]:
# connection sqlalchemy:
pw = getpass('Please enter password: ')
connection_url = f'postgresql://postgres:{pw}@localhost:5432/nasa_exoplanets'
engine = create_engine(connection_url)

# check connection:
with engine.connect() as conn_alchemy:
    print("SQLAlchemy: connected!")

SQLAlchemy: connected!

In [5]:
# connection psycopg:
pw = getpass('Please enter password: ')
with psycopg.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password=pw,
    dbname='nasa_exoplanets',
    autocommit=True
) as connection:
    print("psycopg: connected!")

psycopg: connected!

In [6]:
# create session for create tables:
with Session(engine) as session:
    # delete table if exists:
    session.execute(text("DROP TABLE IF EXISTS old_data"))

    # create new table:
    create_old_data_table = """
        CREATE TABLE old_data(
            name VARCHAR,
            distance FLOAT,
            stellar_magnitude FLOAT,
            planet_type VARCHAR,
            discovery_year INT UNIQUE NOT NULL,
            mass_multiplier FLOAT,
            mass_wrt VARCHAR,
            radius_multiplier FLOAT,
            radius_wrt VARCHAR,
            orbital_radius FLOAT,
            orbital_period FLOAT,
            eccentricity FLOAT,
            detection_method VARCHAR);"""

    # execute Query:
    session.execute(text(create_old_data_table))
    session.commit()
    print("creation: successful!")


# create session for create tables:
with Session(engine) as session:
    # delete table if exists:
    session.execute(text("DROP TABLE IF EXISTS new_data"))

    # create new table:
    create_new_data_table = """
        CREATE TABLE new_data(
            planet_name VARCHAR,
            host_star_name VARCHAR,
            discovery_method VARCHAR,
            discovery_year INT,
            discovery_telescope VARCHAR,
            orbital_period_days FLOAT,
            planet_radius_earth_radius FLOAT,
            planet_radius_jupiter_radius FLOAT,
            planet_mass_earth_mass FLOAT,
            planet_mass_jupiter_mass FLOAT,
            spectral_type VARCHAR,
            stellar_radius_solar_radius FLOAT,
            stellar_mass_solar_mass FLOAT);"""

    # execute Query:
    session.execute(text(create_new_data_table))
    session.commit()
    print("creation: successful!")

creation: successful!
creation: successful!

In [8]:
# close connections:
engine.dispose()
connection.close()

########################### description incoming....