import....

In [1]:
import pandas as pd

In [7]:
data1 = pd.read_excel('cleaned_stars-planets2024_data.xlsx')
data1

,planet_name,host_star_name,num_stars_in_system,num_planets_in_system,discovery_method,discovery_year,discovery_telescope,orbital_period_days,planet_radius_earth_radius,planet_radius_jupiter_radius,planet_mass_earth_mass,planet_mass_jupiter_mass,spectral_type,stellar_radius_solar_radius,stellar_mass_solar_mass,distance_pc
0,Wolf 1061 c,Wolf 1061,1,3,Radial Velocity,2015,3.6 m ESO Telescope,17.871900,166.0,148.0,341.0,1073.0,M3.5,0.31,0.29,4.30592
1,Wolf 1061 d,Wolf 1061,1,3,Radial Velocity,2015,3.6 m ESO Telescope,217.210000,269.0,24.0,77.0,2423.0,M3.5,0.31,0.29,4.30592
2,Wolf 1069 b,Wolf 1069,1,1,Radial Velocity,2023,3.5 m telescope,15.564000,108.0,96.0,126.0,396.0,M5.0 V,0.18,0.17,9.58341
3,Wolf 327 b,Wolf 327,1,1,Transit,2024,0.1 m TESS Telescope,0.573474,124.0,111.0,253.0,796.0,M2.5 V,0.41,0.41,28.53210
4,Wolf 503 b,Wolf 503,1,1,Transit,2018,0.95 m Kepler Telescope,6.001270,2043.0,182.0,627.0,1973.0,K3.5 V,0.69,0.69,44.52600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5783,K2-382 b,K2-382,1,1,Transit,2022,0.95 m Kepler Telescope,21.700156,2072.0,185.0,495.0,156.0,NaN,0.81,0.92,278.41200
5784,K2-383 b,K2-383,1,1,Transit,2022,0.95 m Kepler Telescope,1.865962,1564.0,14.0,307.0,965.0,NaN,0.80,1.06,203.78800
5785,K2-384 b,K2-384,1,5,Transit,2022,0.95 m Kepler Telescope,2.231527,1076.0,96.0,126.0,398.0,M4 V,0.35,0.33,82.66030
5786,K2-384 c,K2-384,1,5,Transit,2022,0.95 m Kepler Telescope,4.194766,1191.0,106.0,182.0,572.0,M4 V,0.35,0.33,82.66030
5787,K2-384 d,K2-384,1,5,Transit,2022,0.95 m Kepler Telescope,6.679582,1392.0,124.0,252.0,792.0,M4 V,0.35,0.33,82.66030

In [6]:
data2 = pd.read_csv('cleaned_exoplanet_data.csv')
data2

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.080,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.090,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.150,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.120,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.200,Jupiter,1.660000,2.200000,0.68,Radial Velocity
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,XO-7 b,764.0,10.52100,Gas Giant,2019,0.70900,Jupiter,1.373,Jupiter,0.044210,0.007940,0.04,Transit
5246,YSES 2 b,357.0,10.88500,Gas Giant,2021,6.30000,Jupiter,1.140,Jupiter,115.000000,1176.500000,0.00,Direct Imaging
5247,YZ Ceti b,12.0,12.07400,Terrestrial,2017,0.70000,Earth,0.913,Earth,0.016340,0.005476,0.06,Radial Velocity
5248,YZ Ceti c,12.0,12.07400,Super Earth,2017,1.14000,Earth,1.050,Earth,0.021560,0.008487,0.00,Radial Velocity
5249,YZ Ceti d,12.0,12.07400,Super Earth,2017,1.09000,Earth,1.030,Earth,0.028510,0.012868,0.07,Radial Velocity