In [1]:
# imports:
import pandas as pd
from getpass import getpass
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
import psycopg

In [2]:
# connection sqlalchemy:

pw = getpass('Please enter password: ')
connection_url = f'postgresql://postgres:{pw}@localhost:5432/nasa_exoplanets'
engine = create_engine(connection_url)

# check connection:
with engine.connect() as conn_alchemy:
    print("SQLAlchemy connected!")


# connection psycopg:
pw = getpass('Please enter password: ')
with psycopg.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password=pw,
    dbname='nasa_exoplanets',
    autocommit=True
) as connection:
    print("psycopg connected!")

SQLAlchemy connected!
psycopg connected!

In [3]:
# selection:
sel_stmt = '''
    SELECT DISTINCT
	    n.planet_name,
	    o.planet_type,
	    n.host_star_name,
	    n.spectral_type,
	    n.orbital_period_days,
	    o.mass_multiplier,
	    o.mass_wrt,
	    o.radius_multiplier,
	    o.radius_wrt,
	    o.distance,
	    n.discovery_year
    FROM new_data AS n
    INNER JOIN old_data AS o ON n.planet_name = o.name'''

complete_df = pd.read_sql(sel_stmt, engine)
complete_df.to_sql('meta_data', engine)

# drop col index:
with Session(engine) as session:
	drop_col = """
        ALTER TABLE meta_data
    DROP COLUMN index"""

	# execute Query:
	session.execute(text(drop_col))
	session.commit()
	print("drop_col: successful!")

# selection:
planets = '''
    SELECT
	    planet_name,
	    planet_type,
	    host_star_name,
	    orbital_period_days,
	    mass_multiplier,
	    mass_wrt,
	    radius_multiplier,
	    radius_wrt,
	    distance,
	    discovery_year
	FROM meta_data
    ORDER BY planet_name;'''

pl_df = pd.read_sql(planets, engine)
pl_df.to_sql('planets', engine)

# drop col index:
with Session(engine) as session:
	drop_col = """
        ALTER TABLE planets
    DROP COLUMN index"""

	# execute Query:
	session.execute(text(drop_col))
	session.commit()
	print("drop_col: successful!")

# add pk:
with Session(engine) as session:
	add_pk = """
        ALTER TABLE planets
    ADD COLUMN planet_id INT PRIMARY KEY
    GENERATED BY DEFAULT AS IDENTITY"""

	# execute Query:
	session.execute(text(add_pk))
	session.commit()
	print("add_pk: successful!")

# selection:
stars = '''
    SELECT
    	DISTINCT(host_star_name),
    	spectral_type,
    	planet_name
	FROM meta_data'''

stars_df = pd.read_sql(stars, engine)
stars_df.to_sql('stars', engine)

# drop col index:
with Session(engine) as session:
	drop_col = """
        ALTER TABLE stars
    DROP COLUMN index"""

	# execute Query:
	session.execute(text(drop_col))
	session.commit()
	print("drop_col: successful!")

# add pk:
with Session(engine) as session:
    add_pk = """
        ALTER TABLE stars
    ADD COLUMN star_id INT PRIMARY KEY
    GENERATED BY DEFAULT AS IDENTITY"""

    # execute Query:
    session.execute(text(add_pk))
    session.commit()
    print("add_pk: successful!")

# selection:
complete_meta = '''
    SELECT DISTINCT
	    p.planet_id,
	    s.planet_name,
	    p.planet_type,
	    s.star_id,
	    s.host_star_name,
	    s.spectral_type,
	    p.orbital_period_days,
	    p.mass_multiplier,
	    p.mass_wrt,
	    p.radius_multiplier,
	    p.radius_wrt,
	    p.distance,
	    p.discovery_year
    FROM stars AS s
    INNER JOIN planets AS p ON p.planet_name = s.planet_name'''

complete_meta = pd.read_sql(complete_meta, engine)
complete_meta.to_sql('complete_meta', engine)

# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE complete_meta
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

# drop meta_data:
with Session(engine) as session:
    drop_table = """
        DROP TABLE meta_data"""

    # execute Query:
    session.execute(text(drop_table))
    session.commit()
    print("drop meta_data: successful!")

# selection:
sel_values = '''
    SELECT
        p.planet_id,
        s.star_id,
	    s.spectral_type,
	    p.distance,
	    p.discovery_year,
	    p.orbital_period_days,
	    p.mass_multiplier,
	    p.mass_wrt,
	    p.radius_multiplier,
	    p.radius_wrt
	FROM stars AS s
	JOIN planets AS p USING (planet_name)'''

values_df = pd.read_sql(sel_values, engine)
values_df.to_sql('values', engine)

# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE values
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

# selection:
sel_stmt_pl_type1 = '''
    SELECT
	    planet_id,
	    planet_name,
	    planet_type,
	    star_id
    FROM complete_meta
    WHERE planet_type = 'Terrestrial'
    GROUP BY planet_id, planet_name, planet_type, star_id
    ORDER BY planet_id;'''

pl_type1 = pd.read_sql(sel_stmt_pl_type1, engine)
pl_type1.to_sql('terrestrial_planets', engine)

sel_stmt_pl_type2 = '''
    SELECT
	    planet_id,
	    planet_name,
	    planet_type,
	    star_id
    FROM complete_meta
    WHERE planet_type = 'Super Earth'
    GROUP BY planet_id, planet_name, planet_type, star_id
    ORDER BY planet_id;'''

pl_type2 = pd.read_sql(sel_stmt_pl_type2, engine)
pl_type2.to_sql('super_earth_planets', engine)

sel_stmt_pl_type3 = '''
    SELECT
	    planet_id,
	    planet_name,
	    planet_type,
	    star_id
    FROM complete_meta
    WHERE planet_type = 'Gas Giant'
    GROUP BY planet_id, planet_name, planet_type, star_id
    ORDER BY planet_id;'''

pl_type3 = pd.read_sql(sel_stmt_pl_type3, engine)
pl_type3.to_sql('gas_giant_planets', engine)

sel_stmt_pl_type4 = '''
    SELECT
	    planet_id,
	    planet_name,
	    planet_type,
	    star_id
    FROM complete_meta
    WHERE planet_type = 'Neptune-like'
    GROUP BY planet_id, planet_name, planet_type, star_id
    ORDER BY planet_id;'''

pl_type4 = pd.read_sql(sel_stmt_pl_type4, engine)
pl_type4.to_sql('neptune_like_planets', engine)

sel_stmt_pl_type5 = '''
    SELECT
	    planet_id,
	    planet_name,
	    planet_type,
	    star_id
    FROM complete_meta
    WHERE planet_type = 'Unknown'
    GROUP BY planet_id, planet_name, planet_type, star_id
    ORDER BY planet_id;'''

pl_type5 = pd.read_sql(sel_stmt_pl_type5, engine)
pl_type5.to_sql('unknown_planets', engine)

# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE terrestrial_planets
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE super_earth_planets
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE gas_giant_planets
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE neptune_like_planets
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE Unknown_planets
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE terrestrial_planets
    ADD FOREIGN KEY (planet_id)
    REFERENCES planets (planet_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE super_earth_planets
    ADD FOREIGN KEY (planet_id)
    REFERENCES planets (planet_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE gas_giant_planets
    ADD FOREIGN KEY (planet_id)
    REFERENCES planets (planet_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE neptune_like_planets
    ADD FOREIGN KEY (planet_id)
    REFERENCES planets (planet_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE unknown_planets
    ADD FOREIGN KEY (planet_id)
    REFERENCES planets (planet_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE terrestrial_planets
    ADD FOREIGN KEY (star_id)
    REFERENCES stars (star_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE super_earth_planets
    ADD FOREIGN KEY (star_id)
    REFERENCES stars (star_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE gas_giant_planets
    ADD FOREIGN KEY (star_id)
    REFERENCES stars (star_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE neptune_like_planets
    ADD FOREIGN KEY (star_id)
    REFERENCES stars (star_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE unknown_planets
    ADD FOREIGN KEY (star_id)
    REFERENCES stars (star_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE values
    ADD FOREIGN KEY (planet_id)
    REFERENCES planets (planet_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

# set fk:
with Session(engine) as session:
    set_fk = """
        ALTER TABLE values
    ADD FOREIGN KEY (star_id)
    REFERENCES stars (star_id)"""

    # execute Query:
    session.execute(text(set_fk))
    session.commit()
    print("set_fk: successful!")

drop_col: successful!
drop_col: successful!
add_pk: successful!
drop_col: successful!
add_pk: successful!
drop_col: successful!
drop meta_data: successful!
drop_col: successful!
drop_col: successful!
drop_col: successful!
drop_col: successful!
drop_col: successful!
drop_col: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!
set_fk: successful!

In [4]:
# drop tables we dont need anymore:
with Session(engine) as session:
    dropedi_drop_drop = """
        DROP TABLE new_data"""

    # execute Query:
    session.execute(text(dropedi_drop_drop))
    session.commit()
    print("dropedi_drop_drop: successful!")

with Session(engine) as session:
    dropedi_drop_drop = """
        DROP TABLE old_data"""

    # execute Query:
    session.execute(text(dropedi_drop_drop))
    session.commit()
    print("dropedi_drop_drop: successful!")

with Session(engine) as session:
    dropedi_drop_drop = """
        DROP TABLE complete_meta"""

    # execute Query:
    session.execute(text(dropedi_drop_drop))
    session.commit()
    print("dropedi_drop_drop: successful!")

dropedi_drop_drop: successful!
dropedi_drop_drop: successful!
dropedi_drop_drop: successful!